body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #25408f;
  color: white;
}
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #e5a92e;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
