<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Excel Processing</title>
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/main.css')}}"
    />
  </head>
  <body>
    <h2 class="warning">EXCEL FILES ONLY!!</h2>
    <form action="/process" method="POST" enctype="multipart/form-data">
      <label for="file1">Missing EVV Export</label>
      <input type="file" id="file1" name="file1" />

      <label for="file2">Caregiver List</label>
      <input type="file" id="file2" name="file2" />

      <input type="submit" value="Process" />
    </form>
  </body>
</html>
